@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.gioithieu_dau {
    height: 570px;
    width: 100vw;
    background-image: url(./img/ca-koi-1.jpg);
    color: white;
    font-family: Poppins;
    background-repeat: no-repeat;
}
/* .gioithieu_dau img {
  width: 1325px;
  height: 795px;
} */
.noidung h1 {
    font-size: 48px;
    box-sizing: border-box;
}
.noidung p {
    display: inline-block;
}
span {
    font-size: 10px;
}
.noidung a {
    color: white;
    text-decoration: none;
}
.noidung {
    position: relative;
    top: 250px;
    left: 100px;
    display: inline-block;
}
