.blog-detail-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.blog-main-content {
    background-color: #fff;
    padding: 2rem 3rem 2rem 2rem;
}

.blog-header {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    color: #777;
    align-items: center;
    margin-bottom: 2rem;
}

.blog-meta-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.blog-meta-item .icon {
    color: #777;
    font-size: 1rem;
}

.blog-meta-item span {
    color: #333;
}

.blog-main-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.blog-main-content p {
    line-height: 1.6;
    color: #333;
}

.blog-sidebar {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.sidebar-section {
    margin-bottom: 2rem;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #e0e0e0;
}

.section-header h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
}

.toggle-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.toggle-btn.rotate {
    transform: rotate(180deg);
}

.section-content {
    list-style: none;
    padding: 1rem;
    margin: 0;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.blog-item{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.blog-item .blog-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0;
}

.sidebar-section ul li {
    margin-bottom: 1rem; /* Spacing between list items */
}

.sidebar-section ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.sidebar-section ul li a:hover {
    text-decoration: underline;
}

.section-content-animation {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.9s 0s, transform 0.9s 0s, max-height 0.9s 0s;
    max-height: 0;
    overflow: hidden;
}

.section-content-animation.expanded {
    opacity: 1;
    transform: translateY(0);
    max-height: 1000px;
}

.icon{
    margin-right: 0.5rem;
}

.section-content-service{
    border: 1px solid #e0e0e0;
}

.section-content-service ul li{
    margin-bottom: 0;
    padding: 1rem;
    text-transform: uppercase;
}

.section-content-service ul li:hover{
    background-color: black;
}

.section-content-service ul a:hover{
    text-decoration: none;
    color: #ffffff;
}